@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("Inter-Regular.woff2?v=3.11") format("woff2"),
       url("Inter-Regular.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("Inter-Bold.woff2?v=3.11") format("woff2"),
       url("Inter-Bold.woff?v=3.11") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
  src: url("Inter-ExtraBold.woff2?v=3.11") format("woff2"),
       url("Inter-ExtraBold.woff?v=3.11") format("woff");
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}
body {
  font-family: "Inter";
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: 700;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

/* Navbar */

.nav a {
  text-decoration: none;
}

.nav-left {
  flex-grow: 1;
}

.nav-right {
  margin: 0 15px;
}

.logo {
  width: 256px;
}

.nav-right a {
  color: #000;
}

.button {
  display: inline-block;
  background-color: rgb(48, 98, 225);
  padding: 15px 50px;
  border-radius: 25px;
}

.button a, .button[type=submit] {
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}

/* Teaser */

.teaser {
  margin-top: 400px;
  width: 100%;
  text-align: center;
}

.teaser h1 {
  color: rgb(48, 98, 225);
  font-weight: bold;
  font-size: 72px;
}

.teaser p {
  font-family: "zeitung-mono";
  font-size: 18px;
}

.teaser p.learn-more {
  margin-top: 70px;
  color: rgb(48, 98, 225);
  font-weight: 800;
  font-family: "Inter";
}

.teaser img {
  width: 20px;
}

/* Summary */

.centered-content {
  width: 100%;
  text-align: center;
}

.centered-content .header {
  padding-top: 50px;
}

.centered-content .header span {
  background:
    linear-gradient(
      to left,
      rgb(48, 98, 225) 0%,
      rgb(48, 98, 225) 25%,
      rgb(255,255,255) 25%,
      rgb(255,255,255) 75%,
      rgb(48, 98, 225) 75%
    )
    left bottom no-repeat;
  padding-bottom: 10px;
  background-size: 100% 3px;
}

.centered-content h2 {
  padding-top: 40px;
  font-size: 42px;
  font-family: "Inter";
  font-weight: 700;
}

.centered-content .description {
  width: 70%;
  margin: 0 auto;
  font-family: "zeitung-mono";
  padding-bottom: 80px;
}

.summary {
  background-color: rgb(48, 98, 225);
  color: #FFF;
}

/* Features */

.feature-header {
  display:inline-block;
  margin-top: 60px;
  padding: 0 0 10px 0;
  font-weight: 700;
  background:
    linear-gradient(
      to right,
      rgb(48, 98, 225) 0,
      rgb(48, 98, 225) 65px,
      rgb(255, 255, 255) 65px
    )
    left bottom no-repeat;
  background-size: 100% 4px ;
}

.feature {
  margin-top: 60px;
}

.feature-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-content h2 {
  font-size: 40px;
  color: rgb(48, 98, 225);
  font-weight: 600;
}

.feature-content p {
  font-family: "zeitung-mono";
}

.feature-left {
  width: 40%;
  margin-top: 0;
}

.feature-right {
  margin: auto 0 0 0;
}

.feature .button {
  margin-top: 30px;
}

/* Contact Us */

.contact-us .header span {
  background:
    linear-gradient(
      to left,
      rgb(255,255,255) 0%,
      rgb(255,255,255) 15%,
      rgb(48, 98, 225) 15%,
      rgb(48, 98, 225) 85%,
      rgb(255,255,255) 85%
    )
    left bottom no-repeat;
  padding-bottom: 10px;
  background-size: 100% 3px;
}

.contact-us .container {
  width: 50%;
}

.contact-us .description {
  padding-bottom: 40px;
}

.input, textarea {
  text-align: left;
  margin-bottom: 30px;
}

.input label {
  display: block;
  margin-bottom: 5px;
}

.input input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #BBB;
  border-radius: 5px;
  line-height: 1.5;
  font-family: "zeitung-mono";
  font-size: 14px;
}

#contact-status {
  font-size: 18px;
  font-family: "zeitung-mono";
}
